<!DOCTYPE html>
<html>
  <head>
    <title>Gitbase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application-old', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application-old', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>

    <script type="application/javascript">
      <%= content_for :script %>
    </script>
  </body>
</html>
